.form-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-container form {
    max-width: 400px;
}

.input {
    position: relative;
    margin-bottom: 15px;
}

.input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.password-input .icon-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-30%);
    cursor: pointer;
}

.iconEye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-container form p a:hover {
    cursor: pointer;
}
